/** This is the root styles.css of the blog
*********************************************/

:root {
	--background-color: #f9f9f9;/* Very light gray */
	--content-bg-color: #ffffff;/* White for content */

	--search-bg-color: grey;
	--tags-bg-color: orange;
	--link-color: #2196F3;
	--w3-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
		0 4px 20px 0 rgba(0, 0, 0, 0.19);

	--text-color: #333333;/* Neutral dark gray for text */
	--heading-color: #000000;/* Black for headings */
	--link-hover-color: #0056b3;/* Darker blue for hover state */
	--box-shadow-color: rgba(0, 0, 0, 0.1);/* Subtle shadow */
}

.dark-mode {
	--background-color: #121212;
	--content-bg-color: #1E1E1E;
	--text-color: #E0E0E0;
	--search-bg-color: grey;
	--tags-bg-color: orange;
	--link-color: #BB86FC;

	--primary-color: #fcbf49;/* Warm yellow, more muted */
	--secondary-color: #f77f00;/* Sunset orange */
	--tertiary-color: #d62828;/* Warm red, slightly deeper */
	--code-bg-color: #ff6347;/* Coral background for code */
	--code-text-color: #fff5e1;/* Light text for code */
}

.whimsy-mode {
	/* light lavender purple */
	--background-color: #F3E8FF;
	/* light orange */
	--content-bg-color: #FFEEDB;
	/* Dark Navy Blue */
	--text-color: #37474F;

	--search-bg-color: grey;
	--tags-bg-color: orange;
	--link-color: #004D40;
	--link-active: purple;

}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	display: grid;
	gap: 16px;
	justify-items: center;
}

header {
	width: 100%;
	max-width: 1440px;
}

.container {
	max-width: 1200px;
}

/* Content Container */
body > .container {
	display: grid;
	background-color: var(--content-bg-color);
	padding: 1rem;

	box-shadow: var(--w3-box-shadow);
}

/* Navbar container: [Brand + Links][Search] */
.navbar > .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	grid-template-rows: auto auto;
	row-gap: 1rem;
	width: 100%;
	max-width: 1440px;
	padding-top: 1rem;
}

.navbar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

a {
	color: var(--text-color);
}

a:visited {
	color: var(--link-color);
}

.navbar-search {
	justify-self: end;
	max-width: 900px;
	width: 90%;
	display: grid;
}

.navbar-search:focus-within {
	grid-column: span 2;
	justify-self: center;
	background: var(--code-bg-color);
}

p.label {
	padding: 0;
	margin: 0;
	padding-top: .25rem;
	padding-bottom: .25rem;
}

.tag-filter {
	display: none;
}

.navbar-search:focus-within .tag-filter {
	display: grid;
}

.search-results {
	display: none;
}

.result-item {
	border-radius: 25px;
}

/* reset of the margin and padding for header elements */
.result-item * {
	margin: 0;
	padding: 0;
}

.navbar-search:focus-within .search-results {
	display: grid;
}

.search-input {
	width:100%;
	height: fit-content;
}

.tag-form {
	padding-top: .5rem;
	padding-bottom: .5rem;
	
	display: flex;
	gap: 4px;
}

.tag-box {
	/* padding with more room on the right */
	padding-left: .15rem;
	padding-top: .25rem;
	padding-right: .5rem;
	padding-bottom: .25rem;

	border-radius: 25px;

	background-color: var(--primary-color);
}

/*
	Retro-css from here
 */

 /* Monospaced fonts for code blocks */
pre,
code {
	font-family: Menlo, Monaco, "Courier New", monospace;
}

/* Horizontal scrolling for code blocks */
pre {
	padding: .5rem;
	line-height: 1.25;
	overflow-x: scroll;
}

/* Styling for print */
@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

a:hover,
a:focus,
a:active {
	color: var(--secondary-color);
}

.retro-no-decoration {
	text-decoration: none;
}

html {
	font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
	html {
		font-size: 15px;
	}
}

@media screen and (min-width: 48rem) {
	html {
		font-size: 16px;
	}
}

body {
	line-height: 1.85;
}

p,
.retro-p {
	font-size: 1rem;
	margin-bottom: 1.3rem;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3,
h4,
.retro-h4 {
	text-align: center;
	font-weight: inherit;
	line-height: 1.42;
}

h1,
.retro-h1 {
	margin-top: 0;
	font-size: 3.998rem;
}

h2,
.retro-h2 {
	font-size: 2.827rem;
}

h3,
.retro-h3 {
	font-size: 1.999rem;
}

h4,
.retro-h4 {
	font-size: 1.414rem;
}

h5,
.retro-h5 {
	font-size: 1.121rem;
}

h6,
.retro-h6 {
	font-size: .88rem;
}

small,
.retro-small {
	font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
	max-width: 100%;
}

html,
body {
	min-height: 100%;
}

html {
	font-size: 18px;
}

body {
	font-family: "Courier New";
	line-height: 1.45;
	padding: .25rem;
}

pre {
	background-color: var(--code-bg-color);
}

blockquote {
	border-left: 3px solid var(--tertiary-color);
	padding-left: 1rem;
}

/* Key
 * Search Background Color: grey
 * Tag-Box background color: black
 * Links: 01ff70 2ecc40 - lime dark-lime
 * - visited: 01ff70
 * - active: 2ecc40
 * blockquote border-left: 01ff70
 * html, body: background-color: darker grey
 * body: color: white
 * pre: background-color: dark grey;
 */